// ABSTRACTS:
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

// BASE:
@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

//COMPONENTS:
@import "./components/button";
@import "./components/header";
@import "./components/nav";
@import "./components/box";

// PAGES:
@import "./pages/home";

// **************************************
//BOX:

// MAIN:
.main {
  &__about {
    padding: 5rem 1rem;
    @include flex-center;
    flex-direction: column;
  }
  &__head {
    padding-bottom: 10px;
  }
  &__text {
    font-weight: 400, Regular;
    line-height: 24px;
  }
  &__btn {
    padding: 10px 25px;
    margin: 20px 0;
  }
}
