.box {
  padding: 22px 18px;
  margin: 0 10px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 20px 0 $dark-grey-a;
  background-color: $white-color;

  &__text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16.85px;
    line-height: 21px;
    padding: 0 10px;
  }
  &__btn {
    padding: 10px 0;
  }
}
