.btn {
  // padding: 10px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400, Regular;
  box-shadow: 0 15px 20px 0 #4b4b4b4d;
  background: linear-gradient(270deg, #34f2c6 2.2%, #1ecef7 100%);
  color: $white-color;
  border-radius: 100px;
  border: none;
}
